.grid-container {
    max-height: 100vh;
    display: grid;
    /* grid-template-columns: 1fr 4fr 16fr 1fr; */ /* four columns  */
    grid-template-rows: 70px 1fr; /* three rows  */
    grid-template-areas: "header     header"                          
    "navigation content";
    grid-gap: 20px;
    font-family: initial;
    grid-template-columns: repeat(auto-fit, 200px);
    -webkit-font-smoothing: antialiased;
}

header {
    grid-area: header;
    text-align: -webkit-center;
    box-shadow: 5px 5px 25px;
    border-radius: 15px;
    background-color: #bfccde;
}

navigation {
    grid-area: navigation;
    max-height: 100vh;
    overflow: scroll;
    min-width: 250px;
    border: solid 1px #bbbbbb;
    border-radius: 5px;
}

navigation li{
    list-style: none;
}

navigation>li:hover>:not(ul), navigation ul>li:hover {
    background-color: aliceblue;
}

navigation ul {
    padding: 0px 5px 0px 20px;
    margin: 0px;
}

navigation>li{
    padding: 5px 5px 5px;
    border-top: solid 1px #bbbbbb;
}

.sub-menu {
    border-top: dashed 1px #e4e4e4; !important
}

navigation a {
    text-decoration: none;
    font-family: initial;
    font-variant-caps: all-petite-caps;
    display: block;
}

content {
    grid-area: content;
    max-height: 100vh;
    overflow: scroll;
    min-width: 1020px;
    margin-left: 20px;
}

section {
    background-color: rgb(191, 204, 222);
    padding: 25px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px;
}

section>h1{
    position: relative;
    top: -30px;
    border-bottom: 1px solid;
    height: 40px;
}

.subtitle {
    
}

code:not([class]) {
    background-color: #b5b5b5;
    padding: 1px;
    color: #43436d;
    border-radius: 5px;
    font-family:monospace;
}

code-block {
    background-color: #b5b5b5;
    padding: 1px;
    color: #43436d;
    border-radius: 5px;
    font-family:monospace;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    
}

aside {
    border-radius: 5px;
    background-color: #868686;
    padding: 20px;
    color: lightgray;
}

table td {
    vertical-align: middle;
    text-align: center;
    padding: 15px;
}


#term {
    width: 200px;
    font-weight: bold;
}

#definition {font-weight: bold;}

.grid {
    display:grid;
    grid-template-columns: 16fr 1fr 12fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.col {
    grid-column: auto;
    margin: 5px;
    background: linear-gradient(to bottom, rgb(197, 221, 251) 0%,rgb(255, 255, 255) 35%,rgb(191, 204, 222) 100%);
}

.mirror-left {transform: rotateY(47deg) translateX(100px);box-shadow: -20px 20px 50px 0px black;}

.mirror-right {transform: rotateY(-46deg) translateX(-100px);box-shadow: 20px 20px 50px 0px black;}

.mirror-middle {background: rgba(0, 0, 0, 0);text-align: center;font-size: 20pt;transform: translateX(-37px);}

.mirror-example {font-size: 10pt;font-family: monospace;color: #848484;perspective-origin: 40% 50%;perspective: 1000px;margin-top: 140px;margin-bottom: 140px;}

.mirror-example ul {list-style: none;padding-left: 30px;}

.mirror-example li {padding: 10px;}

.name {background-color: yellow;border-radius: 5px;padding: 3px;margin: 5px; color:black;}

.d-data {
    background-color: #ff0000;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    color: black;
}

.value {
    background-color: #00ff43;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    color: black;
}

.apiReference a {
    font-variant-caps: petite-caps;
    font-size: 10pt;
}

#APIRef h2, #router h2, #pouchdb h2 {
    font-variant-caps: petite-caps;
    color: #698cab;
    margin-top: 100px;
}

#APIRef h3, #router h3, #pouchdb h3 {
    border: 3px solid #000000;
    padding: 12px;
    border-radius: 5px;
    background-color: aliceblue;
    margin-top: 100px;
}

.tag:not(.token) {border: 1px solid black;border-radius: 5px;padding: 3px;margin-left: 5px;font-size: 10pt;font-variant-caps: all-petite-caps;top: -3px;position: relative;}

.property {background-color: #48d860;}

.method {background-color: #e67d7d;}

.event {
    background-color: #9595d6;
}

.attribute {
    background-color: #FFEB3B;
}