.grid-container {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 12fr 1fr; /* four columns  */
    grid-template-rows: 70px 1fr; /* three rows  */
    grid-template-areas: "header     header  header  header"
                         "lMargin navigation content rMargin";
    grid-gap: 20px;
    font-family: sans-serif;
}

header {
    grid-area: header;
    text-align: -webkit-center;
    box-shadow: 5px 5px 25px;
    border-radius: 15px;
    background-color: #bfccde;
}

navigation {
    grid-area: navigation;
    max-height: 100vh;
    overflow: scroll;
}

navigation>li{
    list-style: none;
}

content {
    grid-area: content;
    max-height: 100vh;
    overflow: scroll;
}

section {
    background-color: rgb(191, 204, 222);
    padding: 25px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px;
}

section>h1{
    position: relative;
    top: -30px;
    border-bottom: 1px solid;
    height: 40px;
}

code {
    background-color: #b5b5b5;
    padding: 1px;
    color: #43436d;
    border-radius: 5px;
}

aside {
    border-radius: 5px;
    background-color: #868686;
    padding: 20px;
    color: lightgray;
}

table td {
    vertical-align: middle;
    text-align: center;
    padding: 15px;
}


#term {
    width: 200px;
    font-weight: bold;
}

#definition {font-weight: bold;}

