.grid-container {
    max-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr; /* four columns  */
    grid-template-rows: 70px 1fr; /* three rows  */
    grid-template-areas: "header     header  header  header"
                         "lMargin navigation content rMargin";
}

header {
    grid-area: header;
    text-align: -webkit-center;
    border: 1px solid;
    border-radius: 15px;
}

navigation {
    grid-area: navigation;
    max-height: 100vh;
    overflow: scroll;
}

navigation>li{
    list-style: none;
}

content {
    grid-area: content;
    max-height: 100vh;
    overflow: scroll;
}
